body {
    padding: 100px;
    background: linear-gradient(0deg, rgb(47, 233, 253)0%,rgb(221, 221, 221) 80%);
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    margin-left: -45px;
}

li {
    list-style: none;
    display: inline-block;   
}
.main {
    width: 800px;
    height: 520px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 40px;
    border: 1px solid #ffff;
}

.img {
    background-image: url(pp.jpg);
    background-color: #ffff;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #ffff;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
    padding-bottom: 50px;
}

.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}

p {
    margin: 0 auto;
    width: 450px;
    height: auto;
    color: #324e63;
    padding-bottom: 50px;
}

.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    float: left;
    font-size: 20px;
  }

  .lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #050007;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

a {
    font-style: italic;
    color: #050007;
}


#curve {
  position: absolute;
  margin-right: 129px;
	width: 120%;
}

#curve path
{
	fill:#fff;
}


  

